*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculadoraExterior{
    display:flex; 
    flex-direction: column;
    background-color: rgb(192, 192, 192);
    border: solid;
    border-width: thin;
    border-color: black;
    border-radius: 8px;
    width: 350px;
    height: 500px;
    justify-content: flex-start;
    align-items: center;
}

.BarraDeTarefaSuperior{
    display: flex;
    padding-bottom: 8px;
    margin-left: 5px;
    align-items: flex-end;
    position: relative;
    right: 110px;
    top: 5px;


}

.BarraDeTarefaSuperior img{
    width: 20px;
    height: 20px;
}

.BarraDeTarefaSuperior p{
    margin-left: 5px;
    font-weight: 600;
}

.calculadoraInterior{
    display:flex;    
    border: solid;
    border-width: thin;
    border-color: black;
    justify-content: flex-start;
    flex-direction: column;
    width: 335px;
    height: 463px;
    border-radius: 3px;
    margin-bottom: 6px;
    background-color: rgb(233, 245, 255);
    background-image: linear-gradient( to top, rgb(221, 241, 255), rgb(234, 246, 255), rgb(247, 252, 255));
}

.MenuSuperior{
    display:flex;
    position: relative;
    left: 7px;
}

.MenuSuperior input{
    width: 50px; 
    height: 40px;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
}

#idVisor{
    border: solid;
    border-width: thin;
    width: 300px;
    height: 70px;
    margin-top: 20px;
    position: relative;
    left: 16px;
    font-size: 35px;
}

.Teclado{
    display: flex;
    width: 90%;
    height: 58%;
    position: relative;
    left: 16px;
    top: 12px;
}

.Teclado input{
    width: 50px; 
    height: 40px;
    font-size: larger;
}

#sinaispequenos{
    width: 50px; 
    height: 40px;
    font-size: 28px;
}

.FileirasTeclados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82%;
    justify-content: space-between;
    align-items: center;
}

.FileirasTecladosMais{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.FileirasTecladosZero{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:10px;
    bottom: 28px;
    justify-content: space-evenly;
}

.FileirasTecladosZero input{
    width: 50px; 
    height: 40px;
    font-size: larger;
}

#idBotaoZero{
    width: 110px; 
    height: 40px;
}

#BotaoIgual{
    width: 50px; 
    height: 90px;
    font-size: 28px;
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }